Repository nicolasleiva/LatentGEO: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check, validate-prompt-json, check-audit-quality, validate-docker-compose

Path conditions:
  frontend-lint: any of: frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format-check: any of: frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  validate-prompt-json: any of: backend/app/prompts/.*\.json$
  check-audit-quality: any of: backend/.*\.py$
  validate-docker-compose: any of: docker-compose(\..+)?\.yml$

Implement canonical Docker + FastAPI SSE redis-first + Supabase migration runbook
  DEPLOYMENT_CHECKLIST.md
  ENVIRONMENT_SETUP.md
  MIGRATION_SUPABASE.md
  Makefile
  QUICK_START.md
  README.md
  README_RELEASE.md
  SECURITY_IMPROVEMENTS.md
  START_HERE.md
  backend/app/api/routes/realtime.py
  backend/app/api/routes/sse.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/services/audit_service.py
  backend/requirements.txt
  backend/tests/test_sse_auth_contract.py
  build_release.ps1
  docker-commands.txt
  docker-compose.dev.yml
  docker-compose.frontend.yml
  docker-compose.prod.yml
  docker-compose.release.yml
  docker-compose.yml
  frontend/app/api/sse/audits/[auditId]/progress/route.ts
  scripts/supabase/README.md
  scripts/supabase/migrate_region.sh
  scripts/supabase/migrate_storage_bucket.py
  scripts/supabase/verify_counts.sql
Due: frontend-lint, frontend-format-check, check-audit-quality, validate-docker-compose

Fix Next.js route handler context typing for SSE proxy
  frontend/app/api/sse/audits/[auditId]/progress/route.ts
Due: frontend-lint, frontend-format-check

Fix CI parity for black, detect-secrets, and lifespan tests
  .github/workflows/secret-scan.yml
  .secrets.baseline
  backend/tests/test_live_plataforma5_agent1_pdf.py
  backend/tests/test_llm.py
  backend/tests/test_production_ready.py
  backend/tests/test_routes_surface.py
  backend/tests/test_validators.py
Due: check-audit-quality

Fix CI type-check scope and TruffleHog flags
  .github/workflows/secret-scan.yml
  frontend/tsconfig.typecheck.json
Due: frontend-format-check

Sync local workspace state with GitHub
  .github/workflows/production-ready.yml
  .github/workflows/strict-release-gate.yml
  backend/app/core/oauth_state.py
  backend/app/core/security.py
  backend/pytest.ini
  backend/requirements-dev.txt
  backend/scripts/manual/test_check_competitors_endpoint.py
  backend/scripts/manual/test_competitor_audit_gen.py
  backend/scripts/manual/test_competitor_search.py
  backend/scripts/manual/test_full_audit_competitors.py
  backend/scripts/manual/test_pdf_audit_1.py
  backend/scripts/manual/test_pdf_debug.py
  backend/scripts/manual/test_pipeline_manual.py
  backend/scripts/manual/test_production_improvements.py
  backend/scripts/manual/test_real_pdf.py
  backend/scripts/manual/test_services_standalone.py
  frontend/proxy.ts
Due: frontend-lint, frontend-format-check, check-audit-quality

Fix detect-secrets false positive in manual production tests
  backend/scripts/manual/test_production_improvements.py
Due: check-audit-quality

Make main external smoke conditional on SMOKE_BASE_URL
  .github/workflows/production-ready.yml
Due: none

Grant release job permission to create GitHub releases
  .github/workflows/production-ready.yml
Due: none

Use PBKDF2 derivation for short OAuth state secrets
  backend/app/core/oauth_state.py
Due: check-audit-quality

Add full-route web quality sweep and accessibility/SEO fixes
  .github/workflows/web-quality-full.yml
  docs/web-quality-full-audit.md
  frontend/app/[locale]/analytics/[id]/page.tsx
  frontend/app/[locale]/analytics/page.tsx
  frontend/app/[locale]/audits/[id]/ai-content/page.tsx
  frontend/app/[locale]/audits/[id]/geo/page.tsx
  frontend/app/[locale]/audits/[id]/page.tsx
  frontend/app/[locale]/audits/page.tsx
  frontend/app/[locale]/content-analysis/page.tsx
  frontend/app/[locale]/docs/head.tsx
  frontend/app/[locale]/docs/page.tsx
  frontend/app/[locale]/exports/page.tsx
  frontend/app/[locale]/integrations/hubspot/connect/page.tsx
  frontend/app/[locale]/pricing/head.tsx
  frontend/app/[locale]/pricing/page.tsx
  frontend/app/layout.tsx
  frontend/app/robots.ts
  frontend/app/sitemap.ts
  frontend/components/header.tsx
  frontend/components/hubspot-apply-recommendations.tsx
  frontend/components/providers/analytics-provider.tsx
  frontend/components/ui/button.tsx
  frontend/lib/env.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/scripts/lighthouse-full-auth.mjs
  frontend/scripts/lighthouse-routes.json
Due: frontend-lint, frontend-format-check

fix(frontend): keep canonical API path in robots disallow
  frontend/app/robots.ts
Due: frontend-lint, frontend-format-check

fix(ci): restore metadata typing and format frontend files
  frontend/app/[locale]/audits/[id]/geo/page.tsx
  frontend/app/[locale]/audits/[id]/page.tsx
  frontend/components/providers/analytics-provider.tsx
  frontend/lib/brand.ts
  frontend/scripts/lighthouse-full-auth.mjs
Due: frontend-lint, frontend-format-check

fix(seo): migrate docs and pricing metadata to app router
  frontend/app/[locale]/docs/docs-page-client.tsx
  frontend/app/[locale]/docs/head.tsx
  frontend/app/[locale]/docs/page.tsx
  frontend/app/[locale]/pricing/head.tsx
  frontend/app/[locale]/pricing/page.tsx
  frontend/app/[locale]/pricing/pricing-page-client.tsx
Due: frontend-lint, frontend-format-check

Fix article engine stuck processing with fail-fast and status watchdog
  backend/app/api/routes/geo.py
  backend/app/core/config.py
  backend/app/services/geo_article_engine_service.py
  backend/app/workers/tasks.py
  backend/tests/test_geo_article_engine_datapack.py
  backend/tests/test_geo_article_engine_endpoint.py
Due: check-audit-quality

Format article-engine watchdog files for black
  backend/app/api/routes/geo.py
  backend/app/core/config.py
  backend/app/services/geo_article_engine_service.py
Due: check-audit-quality

Align black formatting with CI runner
  backend/app/api/routes/geo.py
  backend/app/services/geo_article_engine_service.py
Due: check-audit-quality

Fix Lighthouse full sweep failing fast when auth secrets are missing
  .github/workflows/web-quality-full.yml
  frontend/scripts/lighthouse-full-auth.mjs
Due: none

Treat external Lighthouse connectivity errors as non-blocking by default
  .github/workflows/web-quality-full.yml
  frontend/scripts/lighthouse-full-auth.mjs
Due: none

feat(auth): harden oauth redirects and admin access
  backend/app/api/routes/github.py
  backend/app/api/routes/webhooks.py
  backend/app/core/auth.py
  backend/app/core/config.py
  backend/app/core/oauth_state.py
  backend/tests/test_security_remediation.py
  frontend/__tests__/components/github-oauth-callback.test.tsx
  frontend/__tests__/lib/admin.test.ts
  frontend/app/[locale]/integrations/github/page.tsx
  frontend/app/api/auth/backend-token/route.ts
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/logout/route.ts
  frontend/app/api/auth/status/route.ts
  frontend/app/integrations/github/callback/page.tsx
  frontend/app/signin/route.ts
  frontend/components/auth/AdminGate.tsx
  frontend/components/github-oauth-callback.tsx
  frontend/lib/admin.ts
  frontend/lib/app-auth.ts
  frontend/lib/auth0.ts
  frontend/lib/relative-redirect.ts
  frontend/proxy.ts
Due: frontend-lint, frontend-format-check, check-audit-quality

style(auth): apply backend formatting fixes
  backend/app/api/routes/github.py
  backend/app/api/routes/webhooks.py
  backend/app/core/auth.py
  backend/app/core/config.py
Due: check-audit-quality

style(frontend): align auth route formatting
  frontend/app/api/auth/status/route.ts
  frontend/components/github-oauth-callback.tsx
  frontend/lib/admin.ts
Due: frontend-lint, frontend-format-check

refactor(auth): centralize default admin roles
  backend/app/core/auth.py
Due: check-audit-quality

feat(auth): harden oauth redirects and admin access (#9)
  backend/app/api/routes/github.py
  backend/app/api/routes/webhooks.py
  backend/app/core/auth.py
  backend/app/core/config.py
  backend/app/core/oauth_state.py
  backend/tests/test_security_remediation.py
  frontend/__tests__/components/github-oauth-callback.test.tsx
  frontend/__tests__/lib/admin.test.ts
  frontend/app/[locale]/integrations/github/page.tsx
  frontend/app/api/auth/backend-token/route.ts
  frontend/app/api/auth/login/route.ts
  frontend/app/api/auth/logout/route.ts
  frontend/app/api/auth/status/route.ts
  frontend/app/integrations/github/callback/page.tsx
  frontend/app/signin/route.ts
  frontend/components/auth/AdminGate.tsx
  frontend/components/github-oauth-callback.tsx
  frontend/lib/admin.ts
  frontend/lib/app-auth.ts
  frontend/lib/auth0.ts
  frontend/lib/relative-redirect.ts
  frontend/proxy.ts
Due: frontend-lint, frontend-format-check, check-audit-quality

feat(frontend): extract public pages into server shells
  frontend/__tests__/app/api-service-error-handling.test.ts
  frontend/__tests__/app/home-page.test.tsx
  frontend/app/[locale]/HomeAuditForm.tsx
  frontend/app/[locale]/HomePageClient.tsx
  frontend/app/[locale]/analytics/AnalyticsHistoryExplorer.tsx
  frontend/app/[locale]/analytics/AnalyticsPageClient.tsx
  frontend/app/[locale]/analytics/[id]/AuditAnalyticsPageClient.tsx
  frontend/app/[locale]/analytics/[id]/page.tsx
  frontend/app/[locale]/analytics/page.tsx
  frontend/app/[locale]/audits/AuditsListPageClient.tsx
  frontend/app/[locale]/audits/page.tsx
  frontend/app/[locale]/exports/ReportsExportsPageClient.tsx
  frontend/app/[locale]/exports/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/pagespeed/PageSpeedAnalyzer.tsx
  frontend/app/[locale]/pagespeed/page.tsx
  frontend/lib/api-client/compat.ts
  frontend/lib/api-client/index.ts
  frontend/lib/server-api.ts
Due: frontend-lint, frontend-format-check

fix(frontend): avoid leaking auth config errors
  frontend/lib/server-api.ts
Due: frontend-lint, frontend-format-check

feat(frontend): extract public pages into server shells (#10)
  frontend/__tests__/app/api-service-error-handling.test.ts
  frontend/__tests__/app/home-page.test.tsx
  frontend/app/[locale]/HomeAuditForm.tsx
  frontend/app/[locale]/HomePageClient.tsx
  frontend/app/[locale]/analytics/AnalyticsHistoryExplorer.tsx
  frontend/app/[locale]/analytics/AnalyticsPageClient.tsx
  frontend/app/[locale]/analytics/[id]/AuditAnalyticsPageClient.tsx
  frontend/app/[locale]/analytics/[id]/page.tsx
  frontend/app/[locale]/analytics/page.tsx
  frontend/app/[locale]/audits/AuditsListPageClient.tsx
  frontend/app/[locale]/audits/page.tsx
  frontend/app/[locale]/exports/ReportsExportsPageClient.tsx
  frontend/app/[locale]/exports/page.tsx
  frontend/app/[locale]/page.tsx
  frontend/app/[locale]/pagespeed/PageSpeedAnalyzer.tsx
  frontend/app/[locale]/pagespeed/page.tsx
  frontend/lib/api-client/compat.ts
  frontend/lib/api-client/index.ts
  frontend/lib/server-api.ts
Due: frontend-lint, frontend-format-check

feat(frontend): split audit workspace into client shells
  frontend/__tests__/app/ai-content-page.test.tsx
  frontend/__tests__/app/audit-detail-completed-page.test.tsx
  frontend/__tests__/app/audit-detail-navigation.test.tsx
  frontend/__tests__/app/keywords-page.test.tsx
  frontend/__tests__/app/llm-visibility-page.test.tsx
  frontend/__tests__/components/audit-chat-flow.test.tsx
  frontend/app/[locale]/audits/[id]/AuditCompetitiveBenchmarkSection.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailActionsClient.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailCompletedPage.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailPageClient.tsx
  frontend/app/[locale]/audits/[id]/AuditFixPlanTab.tsx
  frontend/app/[locale]/audits/[id]/AuditNarrativeTab.tsx
  frontend/app/[locale]/audits/[id]/AuditPageFindingsSection.tsx
  frontend/app/[locale]/audits/[id]/AuditPageSpeedDiagnostics.tsx
  frontend/app/[locale]/audits/[id]/ai-content/AIContentPageClient.tsx
  frontend/app/[locale]/audits/[id]/ai-content/page.tsx
  frontend/app/[locale]/audits/[id]/backlinks/BacklinksAnalyzeForm.tsx
  frontend/app/[locale]/audits/[id]/backlinks/page.tsx
  frontend/app/[locale]/audits/[id]/github-auto-fix/GitHubAutoFixPageClient.tsx
  frontend/app/[locale]/audits/[id]/github-auto-fix/page.tsx
  frontend/app/[locale]/audits/[id]/hubspot-apply/page.tsx
  frontend/app/[locale]/audits/[id]/keywords/page.tsx
  frontend/app/[locale]/audits/[id]/llm-visibility/LLMVisibilityPageClient.tsx
  frontend/app/[locale]/audits/[id]/llm-visibility/page.tsx
  frontend/app/[locale]/audits/[id]/page.tsx
  frontend/app/[locale]/audits/[id]/rank-tracking/RankTrackingPageClient.tsx
  frontend/app/[locale]/audits/[id]/rank-tracking/page.tsx
  frontend/components/audit-chat-flow.tsx
  frontend/components/audit-pipeline-diagnostics.tsx
  frontend/components/hubspot-apply-recommendations.tsx
  frontend/components/hubspot-integration.tsx
  frontend/hooks/useAuditSSE.ts
Due: frontend-lint, frontend-format-check

fix(frontend): address audit workspace review findings
  frontend/app/[locale]/audits/[id]/AuditDetailActionsClient.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailPageClient.tsx
  frontend/app/[locale]/audits/[id]/AuditFixPlanTab.tsx
  frontend/app/[locale]/audits/[id]/AuditPageSpeedDiagnostics.tsx
  frontend/app/[locale]/audits/[id]/ai-content/AIContentPageClient.tsx
  frontend/app/[locale]/audits/[id]/github-auto-fix/page.tsx
  frontend/app/[locale]/audits/[id]/hubspot-apply/page.tsx
  frontend/app/[locale]/audits/[id]/llm-visibility/LLMVisibilityPageClient.tsx
  frontend/app/[locale]/audits/[id]/rank-tracking/RankTrackingPageClient.tsx
  frontend/components/hubspot-apply-recommendations.tsx
Due: frontend-lint, frontend-format-check

fix(frontend): harden audit workspace follow-ups
  frontend/app/[locale]/audits/[id]/AuditPageFindingsSection.tsx
  frontend/app/[locale]/audits/[id]/backlinks/page.tsx
  frontend/app/[locale]/audits/[id]/github-auto-fix/GitHubAutoFixPageClient.tsx
  frontend/app/[locale]/audits/[id]/llm-visibility/LLMVisibilityPageClient.tsx
Due: frontend-lint, frontend-format-check

fix(frontend): tighten review follow-up guards
  frontend/app/[locale]/audits/[id]/AuditDetailActionsClient.tsx
  frontend/components/hubspot-apply-recommendations.tsx
Due: frontend-lint, frontend-format-check

feat(frontend): split audit workspace into client shells (#11)
  frontend/__tests__/app/ai-content-page.test.tsx
  frontend/__tests__/app/audit-detail-completed-page.test.tsx
  frontend/__tests__/app/audit-detail-navigation.test.tsx
  frontend/__tests__/app/keywords-page.test.tsx
  frontend/__tests__/app/llm-visibility-page.test.tsx
  frontend/__tests__/components/audit-chat-flow.test.tsx
  frontend/app/[locale]/audits/[id]/AuditCompetitiveBenchmarkSection.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailActionsClient.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailCompletedPage.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailPageClient.tsx
  frontend/app/[locale]/audits/[id]/AuditFixPlanTab.tsx
  frontend/app/[locale]/audits/[id]/AuditNarrativeTab.tsx
  frontend/app/[locale]/audits/[id]/AuditPageFindingsSection.tsx
  frontend/app/[locale]/audits/[id]/AuditPageSpeedDiagnostics.tsx
  frontend/app/[locale]/audits/[id]/ai-content/AIContentPageClient.tsx
  frontend/app/[locale]/audits/[id]/ai-content/page.tsx
  frontend/app/[locale]/audits/[id]/backlinks/BacklinksAnalyzeForm.tsx
  frontend/app/[locale]/audits/[id]/backlinks/page.tsx
  frontend/app/[locale]/audits/[id]/github-auto-fix/GitHubAutoFixPageClient.tsx
  frontend/app/[locale]/audits/[id]/github-auto-fix/page.tsx
  frontend/app/[locale]/audits/[id]/hubspot-apply/page.tsx
  frontend/app/[locale]/audits/[id]/keywords/page.tsx
  frontend/app/[locale]/audits/[id]/llm-visibility/LLMVisibilityPageClient.tsx
  frontend/app/[locale]/audits/[id]/llm-visibility/page.tsx
  frontend/app/[locale]/audits/[id]/page.tsx
  frontend/app/[locale]/audits/[id]/rank-tracking/RankTrackingPageClient.tsx
  frontend/app/[locale]/audits/[id]/rank-tracking/page.tsx
  frontend/components/audit-chat-flow.tsx
  frontend/components/audit-pipeline-diagnostics.tsx
  frontend/components/hubspot-apply-recommendations.tsx
  frontend/components/hubspot-integration.tsx
  frontend/hooks/useAuditSSE.ts
Due: frontend-lint, frontend-format-check

feat(geo): improve commerce insights and pdf fallback pipeline
  backend/app/api/routes/audits.py
  backend/app/api/routes/geo.py
  backend/app/core/config.py
  backend/app/models/__init__.py
  backend/app/schemas/__init__.py
  backend/app/services/audit_service.py
  backend/app/services/create_pdf.py
  backend/app/services/geo_article_engine_service.py
  backend/app/services/geo_commerce_service.py
  backend/app/services/pdf_service.py
  backend/tests/test_audits_api.py
  backend/tests/test_geo_article_engine_datapack.py
  backend/tests/test_geo_commerce_query_endpoint.py
  backend/tests/test_pdf_data_integration.py
  backend/tests/test_pdf_fast_mode.py
  backend/tests/test_pdf_generation_policy.py
  backend/tests/test_pdf_generation_stability.py
  backend/tests/test_pdf_regeneration_fallback.py
  frontend/__tests__/app/geo-dashboard-page.test.tsx
  frontend/__tests__/components/commerce-query-analyzer.test.tsx
  frontend/__tests__/components/geo-tool-menu.test.tsx
  frontend/app/[locale]/audits/[id]/geo/components/ArticleEngine.tsx
  frontend/app/[locale]/audits/[id]/geo/components/AuditedCompetitorBenchmark.tsx
  frontend/app/[locale]/audits/[id]/geo/components/CommerceCampaign.tsx
  frontend/app/[locale]/audits/[id]/geo/loading.tsx
  frontend/app/[locale]/audits/[id]/geo/page.tsx
  frontend/e2e/geo-performance.spec.ts
Due: frontend-lint, frontend-format-check, check-audit-quality

fix(ci): resolve geo pdf lint regressions
  backend/app/schemas/__init__.py
  backend/app/services/pdf_service.py
Due: check-audit-quality

style(backend): format geo pdf quality gate files
  backend/app/api/routes/audits.py
  backend/app/models/__init__.py
  backend/app/services/audit_service.py
  backend/app/services/geo_commerce_service.py
  backend/app/services/pdf_service.py
  backend/tests/test_pdf_data_integration.py
  backend/tests/test_pdf_fast_mode.py
Due: check-audit-quality

fix(geo): address review findings
  backend/app/api/routes/audits.py
  backend/app/core/config.py
  backend/app/services/audit_service.py
  backend/app/services/create_pdf.py
  backend/app/services/geo_commerce_service.py
  backend/tests/test_audits_api.py
  frontend/app/[locale]/audits/[id]/geo/components/AuditedCompetitorBenchmark.tsx
  frontend/e2e/geo-performance.spec.ts
Due: frontend-lint, frontend-format-check, check-audit-quality

style(backend): align black formatting for geo services
  backend/app/services/geo_article_engine_service.py
  backend/app/services/pdf_service.py
Due: check-audit-quality

fix(ci): restore geo checks under testing env
  backend/app/core/config.py
  frontend/__tests__/app/geo-dashboard-page.test.tsx
  frontend/__tests__/components/commerce-query-analyzer.test.tsx
  frontend/__tests__/components/geo-tool-menu.test.tsx
  frontend/app/[locale]/audits/[id]/geo/components/AuditedCompetitorBenchmark.tsx
  frontend/app/[locale]/audits/[id]/geo/components/CommerceCampaign.tsx
  frontend/app/[locale]/audits/[id]/geo/page.tsx
  frontend/e2e/geo-performance.spec.ts
Due: frontend-lint, frontend-format-check, check-audit-quality

fix(geo): address actionable bot findings
  backend/app/core/config.py
  backend/app/services/create_pdf.py
  backend/app/services/geo_commerce_service.py
  backend/tests/test_additional_remediation.py
  backend/tests/test_pdf_regeneration_fallback.py
  frontend/__tests__/components/commerce-query-analyzer.test.tsx
  frontend/app/[locale]/audits/[id]/geo/components/CommerceCampaign.tsx
  frontend/app/[locale]/audits/[id]/geo/page.tsx
  frontend/e2e/geo-performance.spec.ts
Due: frontend-lint, frontend-format-check, check-audit-quality
