Repository nicolasleiva/LatentGEO: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check, validate-prompt-json, check-audit-quality, validate-docker-compose

Path conditions:
  frontend-lint: any of: frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format-check: any of: frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  validate-prompt-json: any of: backend/app/prompts/.*\.json$
  check-audit-quality: any of: backend/.*\.py$
  validate-docker-compose: any of: docker-compose(\..+)?\.yml$

Fix frontend quality gate issues
  frontend/__tests__/app/audit-detail-actions-client.test.tsx
  frontend/__tests__/components/article-engine.test.tsx
  frontend/__tests__/lib/pdf-download.test.ts
  frontend/app/[locale]/audits/[id]/AuditCompetitiveBenchmarkSection.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailPageClient.tsx
  frontend/app/[locale]/audits/[id]/geo/components/ArticleEngine.tsx
  frontend/app/[locale]/audits/[id]/odoo-delivery/OdooDeliveryPageClient.tsx
  frontend/app/[locale]/exports/ReportsExportsPageClient.tsx
  frontend/lib/pdf-download.ts
Due: frontend-lint, frontend-format-check

Harden cached status snapshot validation
  backend/app/api/routes/audits.py
  backend/app/api/routes/geo.py
  backend/app/api/routes/sse.py
  backend/app/services/audit_service.py
  backend/app/services/geo_article_engine_service.py
  backend/app/services/rank_tracker_service.py
  backend/tests/test_audits_api.py
  backend/tests/test_geo_article_engine_endpoint.py
Due: check-audit-quality

Tighten PDF failure handling and article regeneration
  backend/app/services/pdf_job_service.py
  backend/tests/test_audits_api.py
  backend/tests/test_workers.py
  frontend/__tests__/components/article-engine.test.tsx
  frontend/app/[locale]/audits/[id]/geo/components/ArticleEngine.tsx
Due: frontend-lint, frontend-format-check, check-audit-quality

Format worker regression test for Black
  backend/tests/test_workers.py
Due: check-audit-quality

Fix PR bot follow-up issues
  backend/app/api/routes/sse.py
  backend/app/integrations/odoo/drafts.py
  backend/app/services/ai_content_service.py
  backend/app/services/geo_article_engine_service.py
  backend/app/services/pagespeed_freshness.py
  backend/app/workers/async_runtime.py
  backend/tests/test_ai_content_service.py
  backend/tests/test_odoo_delivery_endpoint.py
  backend/tests/test_pagespeed_freshness.py
  backend/tests/test_sse_auth_contract.py
  backend/tests/test_workers.py
  docker-compose.yml
  frontend/__tests__/components/article-engine.test.tsx
  frontend/app/[locale]/audits/[id]/geo/components/ArticleEngine.tsx
Due: frontend-lint, frontend-format-check, check-audit-quality, validate-docker-compose

Close remaining review gaps
  backend/app/api/routes/geo.py
  backend/app/core/auth.py
  backend/app/integrations/odoo/drafts.py
  backend/app/services/geo_article_engine_service.py
  backend/app/services/pipeline_service.py
  backend/tests/test_competitor_queries.py
  backend/tests/test_geo_article_engine_endpoint.py
  backend/tests/test_odoo_delivery_endpoint.py
  backend/tests/test_runtime_schema_migrations.py
Due: check-audit-quality

Fix import order in runtime migration test
  backend/tests/test_runtime_schema_migrations.py
Due: check-audit-quality

Harden PageSpeed and competitor filters
  backend/app/api/routes/pagespeed.py
  backend/app/services/pagespeed_freshness.py
  backend/app/services/pipeline_service.py
  backend/tests/test_competitor_queries.py
  backend/tests/test_pagespeed_freshness.py
  backend/tests/test_pagespeed_routes.py
Due: check-audit-quality

Avoid CodeQL domain fixture false positive
  backend/tests/test_competitor_queries.py
Due: check-audit-quality

fix: harden codeql security remediation
  backend/app/api/routes/audits.py
  backend/app/api/routes/pagespeed.py
  backend/app/core/security.py
  backend/app/services/audit_service.py
  backend/app/services/pagespeed_job_service.py
  backend/app/services/pagespeed_service.py
  backend/tests/test_article_competitor_selection.py
  backend/tests/test_audits_api.py
  backend/tests/test_pagespeed_routes.py
  backend/tests/test_validators.py
Due: check-audit-quality

chore: fix PR quality gates
  .secrets.baseline
  backend/app/services/pagespeed_service.py
Due: check-audit-quality

fix: address PR review findings
  backend/app/api/routes/audits.py
  backend/app/services/audit_service.py
  backend/app/services/pagespeed_job_service.py
  backend/tests/test_article_competitor_selection.py
  backend/tests/test_audits_api.py
  backend/tests/test_geo_score_calculation.py
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format-check, check-audit-quality

feat: Add full Null Byte db fix and LinkedIn Odoo Integration
  backend/app/api/routes/odoo.py
  backend/app/integrations/odoo/drafts.py
  backend/app/integrations/odoo/service.py
  backend/app/services/audit_service.py
  backend/tests/test_audit_service.py
  backend/tests/test_odoo_delivery_endpoint.py
  frontend/app/[locale]/audits/[id]/odoo-delivery/OdooDeliveryPageClient.tsx
Due: frontend-lint, frontend-format-check, check-audit-quality

Harden backend stability and webhook validation
  .secrets.baseline
  backend/alembic/versions_runtime/0004_add_audit_cascade_delete.py
  backend/app/api/routes/audits.py
  backend/app/api/routes/geo.py
  backend/app/api/routes/github.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/prompts/v2.0/external_analysis.json
  backend/app/schemas/__init__.py
  backend/app/schemas/validators.py
  backend/app/services/audit_service.py
  backend/app/services/backlink_service.py
  backend/app/services/citation_tracker_service.py
  backend/app/services/crawler_service.py
  backend/app/services/create_pdf.py
  backend/app/services/keyword_service.py
  backend/app/services/pagespeed_job_service.py
  backend/app/services/pagespeed_service.py
  backend/app/services/pdf_job_service.py
  backend/app/services/pdf_service.py
  backend/app/services/pipeline_service.py
  backend/app/workers/tasks.py
  backend/tests/conftest.py
  backend/tests/load_test.py
  docker-compose.dev.yml
Due: validate-prompt-json, check-audit-quality, validate-docker-compose

Fix CI regressions and stabilize PDF cached-context behavior
  .secrets.baseline
  backend/app/services/audit_service.py
  backend/app/services/pdf_service.py
  docker-compose.dev.yml
  frontend/app/[locale]/audits/[id]/odoo-delivery/OdooDeliveryPageClient.tsx
Due: frontend-lint, frontend-format-check, check-audit-quality, validate-docker-compose

Respect cached GEO payloads before forced refresh in PDF flow
  backend/app/services/pdf_service.py
Due: check-audit-quality

Resolve lint failures in quality-gate files
  backend/app/api/routes/audits.py
  backend/app/services/audit_service.py
  backend/app/services/backlink_service.py
  backend/app/services/keyword_service.py
  backend/app/services/pdf_service.py
Due: check-audit-quality

Apply Black formatting for enterprise quality gates
  backend/app/api/routes/analytics.py
  backend/app/api/routes/audits.py
  backend/app/api/routes/geo.py
  backend/app/api/routes/odoo.py
  backend/app/core/middleware.py
  backend/app/integrations/odoo/drafts.py
  backend/app/integrations/odoo/service.py
  backend/app/integrations/odoo/sync.py
  backend/app/models/__init__.py
  backend/app/services/audit_local_service.py
  backend/app/services/audit_service.py
  backend/app/services/backlink_service.py
  backend/app/services/comparative_report_generator.py
  backend/app/services/competitor_citation_service.py
  backend/app/services/crawler_service.py
  backend/app/services/create_pdf.py
  backend/app/services/geo_article_engine_service.py
  backend/app/services/keyword_service.py
  backend/app/services/pagespeed_job_service.py
  backend/app/services/pagespeed_service.py
  backend/app/services/pdf_service.py
  backend/app/services/pipeline_service.py
  backend/app/workers/tasks.py
  backend/tests/load_test.py
  backend/tests/test_audit_service.py
  backend/tests/test_competitor_queries.py
  backend/tests/test_geo_article_engine_datapack.py
  backend/tests/test_odoo_delivery_endpoint.py
  backend/tests/test_runtime_schema_migrations.py
Due: check-audit-quality

Sync Black formatting with CI toolchain version
  backend/app/api/routes/analytics.py
  backend/app/api/routes/geo.py
  backend/app/core/middleware.py
  backend/app/integrations/odoo/service.py
  backend/app/integrations/odoo/sync.py
  backend/app/services/audit_local_service.py
  backend/app/services/audit_service.py
  backend/app/services/comparative_report_generator.py
  backend/app/services/competitor_citation_service.py
  backend/app/services/geo_article_engine_service.py
  backend/app/services/pdf_service.py
  backend/tests/test_competitor_queries.py
  backend/tests/test_runtime_schema_migrations.py
Due: check-audit-quality

Fix import ordering for enterprise quality checks
  backend/app/integrations/odoo/drafts.py
  backend/app/services/pdf_service.py
Due: check-audit-quality

Apply Prettier formatting to satisfy frontend quality gate
  frontend/app/[locale]/audits/[id]/odoo-delivery/OdooDeliveryPageClient.tsx
Due: frontend-lint, frontend-format-check

Patch frontend undici vulnerability for audit gate
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: frontend-format-check
