Repository nicolasleiva/LatentGEO: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-lint, frontend-format-check, validate-prompt-json, check-audit-quality, validate-docker-compose

Path conditions:
  frontend-lint: any of: frontend/.*\.(ts|tsx|js|jsx)$
  frontend-format-check: any of: frontend/.*\.(ts|tsx|js|jsx|json|css|md)$
  validate-prompt-json: any of: backend/app/prompts/.*\.json$
  check-audit-quality: any of: backend/.*\.py$
  validate-docker-compose: any of: docker-compose(\..+)?\.yml$

test(security): avoid secret-like staging fixture
  backend/tests/test_additional_remediation.py
Due: check-audit-quality

feat(geo): improve commerce insights and pdf fallback pipeline (#12)
  backend/app/api/routes/audits.py
  backend/app/api/routes/geo.py
  backend/app/core/config.py
  backend/app/models/__init__.py
  backend/app/schemas/__init__.py
  backend/app/services/audit_service.py
  backend/app/services/create_pdf.py
  backend/app/services/geo_article_engine_service.py
  backend/app/services/geo_commerce_service.py
  backend/app/services/pdf_service.py
  backend/tests/test_additional_remediation.py
  backend/tests/test_audits_api.py
  backend/tests/test_geo_article_engine_datapack.py
  backend/tests/test_geo_commerce_query_endpoint.py
  backend/tests/test_pdf_data_integration.py
  backend/tests/test_pdf_fast_mode.py
  backend/tests/test_pdf_generation_policy.py
  backend/tests/test_pdf_generation_stability.py
  backend/tests/test_pdf_regeneration_fallback.py
  frontend/__tests__/app/geo-dashboard-page.test.tsx
  frontend/__tests__/components/commerce-query-analyzer.test.tsx
  frontend/__tests__/components/geo-tool-menu.test.tsx
  frontend/app/[locale]/audits/[id]/geo/components/ArticleEngine.tsx
  frontend/app/[locale]/audits/[id]/geo/components/AuditedCompetitorBenchmark.tsx
  frontend/app/[locale]/audits/[id]/geo/components/CommerceCampaign.tsx
  frontend/app/[locale]/audits/[id]/geo/loading.tsx
  frontend/app/[locale]/audits/[id]/geo/page.tsx
  frontend/e2e/geo-performance.spec.ts
Due: frontend-lint, frontend-format-check, check-audit-quality

feat(odoo): add delivery pack workflow
  backend/app/api/routes/__init__.py
  backend/app/api/routes/odoo.py
  backend/app/integrations/odoo/__init__.py
  backend/app/integrations/odoo/auth.py
  backend/app/integrations/odoo/client.py
  backend/app/integrations/odoo/drafts.py
  backend/app/integrations/odoo/service.py
  backend/app/integrations/odoo/sync.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/odoo.py
  backend/app/services/odoo_delivery_service.py
  backend/tests/test_odoo_delivery_endpoint.py
  frontend/__tests__/app/odoo-delivery-page-client.test.tsx
  frontend/app/[locale]/audits/[id]/odoo-delivery/OdooDeliveryPageClient.tsx
  frontend/app/[locale]/audits/[id]/odoo-delivery/page.tsx
  frontend/app/[locale]/audits/[id]/odoo-pagespeed/page.tsx
Due: frontend-lint, frontend-format-check, check-audit-quality

fix(odoo): tighten sync path typing
  backend/app/integrations/odoo/sync.py
Due: check-audit-quality

style(odoo): format delivery workspace
  frontend/__tests__/app/odoo-delivery-page-client.test.tsx
  frontend/app/[locale]/audits/[id]/odoo-delivery/OdooDeliveryPageClient.tsx
  frontend/app/[locale]/audits/[id]/odoo-delivery/page.tsx
Due: frontend-lint, frontend-format-check

feat(odoo): add delivery pack workflow (#16)
  backend/app/api/routes/__init__.py
  backend/app/api/routes/odoo.py
  backend/app/integrations/odoo/__init__.py
  backend/app/integrations/odoo/auth.py
  backend/app/integrations/odoo/client.py
  backend/app/integrations/odoo/drafts.py
  backend/app/integrations/odoo/service.py
  backend/app/integrations/odoo/sync.py
  backend/app/main.py
  backend/app/models/__init__.py
  backend/app/models/odoo.py
  backend/app/services/odoo_delivery_service.py
  backend/tests/test_odoo_delivery_endpoint.py
  frontend/__tests__/app/odoo-delivery-page-client.test.tsx
  frontend/app/[locale]/audits/[id]/odoo-delivery/OdooDeliveryPageClient.tsx
  frontend/app/[locale]/audits/[id]/odoo-delivery/page.tsx
  frontend/app/[locale]/audits/[id]/odoo-pagespeed/page.tsx
Due: frontend-lint, frontend-format-check, check-audit-quality

chore(release): harden runtime and deployment flow
  .gitignore
  DEPLOYMENT_CHECKLIST.md
  Dockerfile.backend
  Dockerfile.frontend
  ENVIRONMENT_SETUP.md
  README.md
  RELEASE_RUNBOOK.md
  RUN_TESTS.md
  backend/start_server.py
  build_release.ps1
  docker-compose.dev.yml
  docker-compose.yml
  frontend/ENV_TEMPLATE.txt
  frontend/next.config.mjs
  frontend/package.json
  frontend/playwright.config.ts
  frontend/scripts/lighthouse-full-auth.mjs
  frontend/scripts/lighthouse-routes.json
  frontend/scripts/start-standalone.mjs
  frontend/wrangler.jsonc
  scripts/aws/staging/config.example.env
  scripts/aws/staging/deploy.ps1
  scripts/aws/staging/templates/app.yml
  scripts/release-certify.ps1
Due: frontend-lint, frontend-format-check, check-audit-quality, validate-docker-compose

fix(release): unblock CI validation and secret scan
  .secrets.baseline
  backend/start_server.py
  backend/tests/test_release_smoke_external.py
  frontend/next.config.mjs
  frontend/scripts/lighthouse-full-auth.mjs
Due: check-audit-quality

chore(security): normalize secrets baseline for CI
  .gitattributes
Due: none

fix(ci): stage normalized detect-secrets baseline
  .github/workflows/secret-scan.yml
Due: none

fix(ci): tolerate unconfigured release smoke and external lighthouse errors
  .github/workflows/strict-release-gate.yml
  frontend/scripts/lighthouse-full-auth.mjs
Due: none

fix(ci): seed backend env for strict release gate
  .github/workflows/strict-release-gate.yml
Due: none

fix(ci): avoid secret-like backend url in strict gate
  .github/workflows/strict-release-gate.yml
Due: none

chore(release): harden runtime and deployment flow (#17)
  .gitattributes
  .github/workflows/secret-scan.yml
  .github/workflows/strict-release-gate.yml
  .gitignore
  .secrets.baseline
  DEPLOYMENT_CHECKLIST.md
  Dockerfile.backend
  Dockerfile.frontend
  ENVIRONMENT_SETUP.md
  README.md
  RELEASE_RUNBOOK.md
  RUN_TESTS.md
  backend/start_server.py
  backend/tests/test_release_smoke_external.py
  build_release.ps1
  docker-compose.dev.yml
  docker-compose.yml
  frontend/ENV_TEMPLATE.txt
  frontend/next.config.mjs
  frontend/package.json
  frontend/playwright.config.ts
  frontend/scripts/lighthouse-full-auth.mjs
  frontend/scripts/lighthouse-routes.json
  frontend/scripts/start-standalone.mjs
  frontend/wrangler.jsonc
  scripts/aws/staging/config.example.env
  scripts/aws/staging/deploy.ps1
  scripts/aws/staging/templates/app.yml
  scripts/release-certify.ps1
Due: frontend-lint, frontend-format-check, check-audit-quality, validate-docker-compose

Fix PR CI regressions and review feedback
  .secrets.baseline
  backend/app/api/routes/audits.py
  backend/app/core/middleware.py
  backend/app/services/audit_service.py
  backend/app/services/pdf_job_service.py
  backend/app/workers/tasks.py
  backend/tests/test_additional_remediation.py
  frontend/app/api/audits/[auditId]/download-pdf/route.ts
  frontend/hooks/useAuditArtifacts.ts
  frontend/lib/server-download-proxy.ts
  frontend/scripts/check-no-legacy-api.mjs
Due: frontend-lint, frontend-format-check, check-audit-quality

Resolve PR check failures and format backend
  backend/app/api/routes/audits.py
  backend/app/api/routes/sse.py
  backend/app/core/database.py
  backend/app/services/audit_service.py
  backend/app/services/pagespeed_job_service.py
  backend/app/services/pdf_job_service.py
  backend/app/services/pdf_service.py
  backend/app/services/pipeline_service.py
  backend/app/workers/async_runtime.py
  backend/app/workers/tasks.py
  backend/tests/conftest_production.py
  backend/tests/test_audit_service.py
  backend/tests/test_audits_api.py
  backend/tests/test_audits_pdf_download.py
  backend/tests/test_kimi_only_routes.py
  backend/tests/test_live_plataforma5_agent1_pdf.py
  backend/tests/test_pdf_fast_mode.py
Due: check-audit-quality

Fix artifact payload mypy typing
  backend/app/services/audit_service.py
Due: check-audit-quality

Normalize backend import ordering
  backend/app/api/routes/audits.py
  backend/app/core/auth_context.py
  backend/app/core/rate_limit_policy.py
  backend/app/main.py
  backend/app/scripts/run_migrations.py
  backend/app/services/pagespeed_job_service.py
  backend/app/services/pdf_job_service.py
  backend/app/workers/async_runtime.py
  backend/tests/test_additional_remediation.py
  backend/tests/test_audits_api.py
Due: check-audit-quality

Match CI import formatting
  backend/app/api/routes/audits.py
  backend/app/services/pdf_job_service.py
Due: check-audit-quality

Harden async runtime shutdown cleanup
  backend/app/workers/async_runtime.py
Due: check-audit-quality

Format frontend with Prettier
  frontend/__tests__/app/audit-detail-actions-client.test.tsx
  frontend/__tests__/hooks/useAuditArtifacts.test.tsx
  frontend/__tests__/lib/api-client-audits.test.ts
  frontend/__tests__/lib/backend-auth.test.ts
  frontend/__tests__/lib/dates.test.ts
  frontend/__tests__/lib/pdf-download.test.ts
  frontend/app/[locale]/audits/[id]/AuditDetailActionsClient.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailPageClient.tsx
  frontend/app/[locale]/audits/[id]/llm-visibility/LLMVisibilityPageClient.tsx
  frontend/app/[locale]/audits/[id]/rank-tracking/RankTrackingPageClient.tsx
  frontend/app/[locale]/exports/ReportsExportsPageClient.tsx
  frontend/app/[locale]/integrations/hubspot/pages/page.tsx
  frontend/components/header.tsx
  frontend/e2e/release-smoke.spec.ts
  frontend/hooks/useAuditArtifacts.ts
  frontend/lib/backend-auth.ts
  frontend/lib/dates.ts
  frontend/lib/pdf-download.ts
Due: frontend-lint, frontend-format-check

Address review findings for locks, SSE, and download flow
  backend/app/api/routes/audits.py
  backend/app/api/routes/reports.py
  backend/app/api/routes/sse.py
  backend/app/core/auth_context.py
  backend/app/core/config.py
  backend/app/core/rate_limit_policy.py
  backend/app/scripts/run_migrations.py
  backend/app/services/pagespeed_job_service.py
  backend/app/services/pdf_job_service.py
  backend/app/services/pdf_service.py
  backend/app/workers/async_runtime.py
  frontend/app/api/sse/audits/[auditId]/progress/route.ts
  frontend/lib/backend-auth.ts
  frontend/lib/server-download-proxy.ts
  frontend/next.config.mjs
Due: frontend-lint, frontend-format-check, check-audit-quality

Harden PageSpeed routes for code scanning
  backend/app/api/routes/pagespeed.py
  backend/tests/test_audit_service.py
  backend/tests/test_pagespeed_routes.py
Due: check-audit-quality

Adjust competitor test to satisfy code scanning
  backend/tests/test_audit_service.py
Due: check-audit-quality

Remove residual CodeQL pattern from competitor test
  backend/tests/test_audit_service.py
Due: check-audit-quality

Address remaining PR review findings
  backend/app/api/routes/audits.py
  backend/app/api/routes/sse.py
  backend/app/core/auth_context.py
  backend/app/services/pdf_job_service.py
  backend/tests/test_audits_pdf_download.py
  backend/tests/test_auth_context.py
  backend/tests/test_sse_auth_contract.py
  backend/tests/test_workers.py
Due: check-audit-quality

Fix import ordering in SSE review tests
  backend/tests/test_sse_auth_contract.py
Due: check-audit-quality

Tighten worker resume assertion
  backend/tests/test_workers.py
Due: check-audit-quality

Address remaining review findings
  backend/app/api/routes/audits.py
  backend/app/api/routes/sse.py
  backend/app/core/config.py
  backend/app/core/database.py
  backend/app/middleware/rate_limit.py
  backend/app/services/audit_service.py
  backend/app/services/pdf_service.py
  backend/app/workers/async_runtime.py
  backend/app/workers/tasks.py
  backend/tests/test_live_plataforma5_agent1_pdf.py
  backend/tests/test_pdf_fast_mode.py
  backend/tests/test_rate_limit_middleware.py
  backend/tests/test_workers.py
  frontend/__tests__/lib/backend-auth.test.ts
  frontend/__tests__/lib/pdf-download.test.ts
  frontend/app/[locale]/audits/[id]/AuditDetailActionsClient.tsx
  frontend/app/[locale]/audits/[id]/llm-visibility/LLMVisibilityPageClient.tsx
  frontend/app/api/auth/backend-token/route.ts
  frontend/lib/backend-auth.ts
  frontend/lib/pdf-download.ts
  frontend/lib/server-download-proxy.ts
  frontend/scripts/check-no-legacy-api.mjs
  frontend/scripts/start-standalone.mjs
Due: frontend-lint, frontend-format-check, check-audit-quality

Fix SSE cleanup and legacy API gate
  backend/app/api/routes/sse.py
  backend/app/core/auth_context.py
  backend/tests/test_auth_context.py
  backend/tests/test_sse_auth_contract.py
  frontend/__tests__/lib/server-sse-proxy.test.ts
  frontend/lib/server-sse-proxy.ts
  frontend/scripts/check-no-legacy-api.mjs
Due: frontend-lint, frontend-format-check, check-audit-quality

Fix SSE test lint compatibility
  backend/app/api/routes/sse.py
  backend/tests/test_sse_auth_contract.py
Due: check-audit-quality

Format frontend files for CI
  frontend/__tests__/lib/server-sse-proxy.test.ts
  frontend/scripts/check-no-legacy-api.mjs
  frontend/scripts/start-standalone.mjs
Due: frontend-lint, frontend-format-check

Harden legacy API path check
  frontend/__tests__/lib/legacy-api-check.test.ts
  frontend/lib/legacy-api-check.mjs
  frontend/scripts/check-no-legacy-api.mjs
Due: frontend-lint, frontend-format-check

Fix CI regressions and bot review findings
  backend/alembic/versions_runtime/0001_reconcile_runtime_schema.py
  backend/alembic/versions_runtime/0002_expand_odoo_draft_action_lengths.py
  backend/alembic/versions_runtime/0003_add_ai_content_strategy_runs.py
  backend/app/api/routes/audits.py
  backend/app/core/config.py
  backend/app/models/__init__.py
  backend/app/services/create_pdf.py
  backend/app/services/pdf_service.py
  backend/tests/test_audits_api.py
  frontend/__tests__/app/audit-detail-actions-client.test.tsx
  frontend/__tests__/app/audit-detail-navigation.test.tsx
  frontend/app/[locale]/audits/[id]/AuditDetailCompletedPage.tsx
  frontend/app/[locale]/audits/[id]/AuditPageFindingsSection.tsx
Due: frontend-lint, frontend-format-check, check-audit-quality

Fix CI regressions from bot review follow-ups
  backend/app/api/routes/audits.py
  backend/app/api/routes/geo.py
  backend/app/api/routes/odoo.py
  backend/app/api/routes/sse.py
  backend/app/integrations/odoo/drafts.py
  backend/app/integrations/odoo/service.py
  backend/app/services/audit_service.py
  backend/app/services/geo_article_engine_service.py
  backend/app/services/pagespeed_job_service.py
  backend/app/services/pdf_job_service.py
  backend/app/services/pdf_service.py
  backend/app/services/pipeline_service.py
  backend/app/workers/tasks.py
  backend/tests/conftest.py
  backend/tests/test_article_competitor_selection.py
  backend/tests/test_audits_api.py
  backend/tests/test_competitor_queries.py
  backend/tests/test_geo_article_engine_datapack.py
  backend/tests/test_geo_article_engine_endpoint.py
  backend/tests/test_sse_auth_contract.py
  backend/tests/test_workers.py
Due: check-audit-quality

Fix remaining review and code quality issues
  backend/app/api/routes/audits.py
  backend/app/integrations/odoo/drafts.py
  backend/app/services/geo_article_engine_service.py
  backend/app/services/rank_tracker_service.py
  backend/tests/test_rank_tracker_service.py
  backend/tests/test_runtime_schema_migrations.py
  frontend/__tests__/app/audit-detail-navigation.test.tsx
  frontend/app/[locale]/audits/[id]/AuditPageFindingsSection.tsx
Due: frontend-lint, frontend-format-check, check-audit-quality

Fix remaining review and code quality issues
  backend/app/services/pdf_job_service.py
  frontend/app/[locale]/audits/[id]/AuditPageFindingsSection.tsx
Due: frontend-lint, frontend-format-check, check-audit-quality
