Repository nicolasleiva/LatentGEO: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-prompt-json, check-audit-quality, validate-docker-compose

validate-prompt-json:
  name: Validate Prompt JSON Schema
  entry: python
  language: system
  args:
  - -c
  ...

check-audit-quality:
  name: Check Audit Quality Standards
  entry: python
  language: system
  pass_filenames: false
  args:
  - -c
  ...

validate-docker-compose:
  name: Validate Docker Compose
  entry: docker-compose
  language: system
  pass_filenames: true
  args:
  - -f
  - docker-compose.yml
  - config

ci(workflows): fix frontend test command and sarif permissions
  .github/workflows/production-ready.yml
Due: none

ci(workflows): pin black and make sarif upload non-blocking
  .github/workflows/production-ready.yml
  .github/workflows/strict-release-gate.yml
Due: none

fix(backend): restore app package marker for mypy
  backend/app/__init__.py
Due: check-audit-quality

ci(workflows): run pip-audit via python module
  .github/workflows/production-ready.yml
Due: none

ci: stabilize production-ready workflow jobs
  .github/workflows/production-ready.yml
Due: none

ci: fix perf job gating for missing token
  .github/workflows/production-ready.yml
Due: none

chore(staging): freeze source snapshot 20260219-1245
  .gitignore
  backend/app/core/config.py
  backend/app/core/llm_kimi.py
  backend/app/services/pdf_service.py
  backend/app/services/pipeline_service.py
  backend/app/workers/tasks.py
  backend/tests/test_competitor_queries.py
  docker-compose.dev.yml
  docker-compose.yml
  frontend/app/[locale]/audits/[id]/page.tsx
  scripts/aws/staging/README.md
  scripts/aws/staging/config.example.env
  scripts/aws/staging/credits-activities.ps1
  scripts/aws/staging/deploy.ps1
  scripts/aws/staging/freeze-source.ps1
  scripts/aws/staging/templates/app.yml
  scripts/aws/staging/templates/data.yml
  scripts/aws/staging/templates/network.yml
Due: check-audit-quality, validate-docker-compose

chore(staging): improve deploy script dry-run and secret defaults
  scripts/aws/staging/deploy.ps1
Due: none

chore(staging): auto-generate DB password and harden AWS deploy flow
  scripts/aws/staging/README.md
  scripts/aws/staging/config.example.env
  scripts/aws/staging/deploy.ps1
Due: none

Stabilize preproduction gates and add external smoke suite
  .github/workflows/production-ready.yml
  .github/workflows/strict-release-gate.yml
  DEPLOYMENT_CHECKLIST.md
  RUN_TESTS.md
  backend/tests/test_pipeline_properties.py
  backend/tests/test_release_smoke_external.py
  frontend/next.config.mjs
  frontend/package.json
Due: check-audit-quality

Harden property tests and make Auth0 initialization strict-lazy
  backend/tests/test_pipeline_properties.py
  frontend/lib/auth0.ts
Due: check-audit-quality

Obscure nvdia
  QUICK_START.md
Due: none

Path conditions:
  validate-prompt-json: any of: backend/app/prompts/.*\.json$
  check-audit-quality: any of: backend/.*\.py$
  validate-docker-compose: any of: docker-compose\.yml$
